[app]
# 应用名
AppName = easy

[log]
# 日志存储路径
LogPath = ./run_time
# 日志持久化天数
SaveDay = 7
# 日志等级（0：debug，1：info，2：warn，3：error）
LogLevel = 0

[http]
# 端口
Port = 8080
# websocket路由
WSRoute = /ws

[task]
# 玩家任务管道数
Player = 100
# 公共任务管道数
Public = 30

[redis]
# Redis地址集
Addr = 127.0.0.1:6379
# 密码
PassWord = 
# 选择库
DB = 5